@font-face{
	font-family: 'MyriadPro-It';
	src: url(../fonts/MyriadPro-It.otf);
	font-size: normal;
	font-style: normal;
}
*{
	margin: 0px;
	padding: 0px;
	border: 0px;
	outline: 0px;
}
.wrapper, textarea, input, select {
	margin-bottom: 0px;
	background-color: #FFFFFF;
	font-family: Tahoma;
	font-size: 10px;
	color: #000000;
	line-height: 14px;
}
.wrapper{
	width: 80%;
	border: 1px solid #BEBEBE;
}
header{
	width: 99%;
	text-align: center;
	font-family: tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF;
}
header div{
	float: left;
	margin: 0px;
	padding: 0px;
	height: 76px;
}
header p{
	margin-top: 15px;
}
.gradient{
	background: #b70404;
	background: linear-gradient(to top left, #9e0000, #600001);
	width: 70%;
}
.line{
	border-right: 1px dashed #bfbcbc;
	opacity: 0.5;
	width: 1px;
	height: 50px;
	margin-left: -1px;
}
.store{
	width: 30%;
	background-color: #535353;
	font-family: 'MyriadPro-It';
	font-size: 28px;
}
span{
	color: #8b8b8b;
}
.b_cart{
	width: 40%;
}
.b_cart img{
	float: left;
	margin-top: 6px;
}
.b_lang{
	width: 30%;
}
.b_currencies{
	width: 25%;
}
select{
	width: 70%;
	float: right;
}
.wrap:after{
  content: " ";
  margin-bottom: 128px;
  display: block;
  clear: both;
}
nav{
	width: 30%;
	border: 1px solid grey;
	justify-content: center;
	align-items: left;
	text-align: left;
	border: 0px;
	float: left;
}
nav p{
	font-family: 'MyriadPro-It';
	font-size: 17px;
	color: #535353;
	margin: 7px;
}
nav p:hover{
 	color: #8a0000;
}
nav a{
	text-decoration: none;
	border-bottom: 1px solid #dddddd;
	width: 80%;
	margin-left: 10px;
	float: left;
}
.nav img{
	float: left;
	margin: 12px 12px 0px 7px;
}
nav .webcam{
	float: right;
	margin: 0px;
}
.webcamera{
	float: left;	
}
.cheap{
	margin-top: 39px;
	float: left;
	font-family: 'MyriadPro-It';
	font-size: 36px;
	color: #9e0000;
	letter-spacing: 2px;
}
.cheap img{
	width: 100%;
}

.black{
	font-family: 'MyriadPro-It';
	font-size: 14px;
	margin: 0 0 12px 60px;
	color: black;
}
.wrap{
	width: 99%;
	clear: both;
}
aside{
	width: 24%;
	float: left;
	margin: 2px;
}
.aside{
	display: block;
	text-align: left;
	font-size: 11px;
	font-family: Tahoma;
	width: 100%;
}
.aside:first-child {
	background-color: #cbcbcb;
	width: 102%;
	height: 18px;
}
.aside a{
	display: block;
	text-decoration: none;
	border-bottom: 1px dotted #dedcdc;
	width: 98%;
	margin-top: 5px;
	padding-bottom: 3px;
	color: black;
}
.aside a:hover{
	color: #8a0000;
}
main{
	width: 75%;
	background-color: #1f1f1f;
	float: right;
}
.name{
	color: white;
	text-align: left;
	margin: 5px 25px;
	font-size: 14px;
}
.flex-container{
	display: flex;	
	flex-wrap: wrap;
	justify-content: center;
	line-height: 22px;
}
.cell{
	width: 44%;
	height: 150px;
	background-color: white;
	border: 4px ridge #cecece;
	margin: 15px;
	justify-content: flex-start;
	text-align: left;
}
.cell div{
	border-bottom: 1px dashed #dedcdc;
	width: 100%;
	height: 80%;
	margin-bottom: 10px;
}
.goods{
	width: 40%;
	height: 90%;
	float: left;
	margin: 3px 20px 15px 3px;
}
.cell h3{
	width: 80%;
}
.cell p{
	color: red;
	font-size: 15px;
	font-weight: bold;
	padding: 21px;
	width: 60%;
}
.cell a{
	margin: 0px 0px 0px 10px;
}
.big{
	margin-left: -10px;
	width: 100%;
	height: 100%;
}
footer{
	width: 79%;
	height: 100px;
	position: absolute;
	top: 850px;
	background: #d9d8d8; 
    background: linear-gradient(to top, #bebebe, #fff);
    text-align: left;
}
footer img{
	display: inline-block;
	margin-top: 35px;
	margin-left: 35px;
}
footer div:first-of-type {
	border-right: 1px dashed white;
	width: 30%;
	height: 100px;
	float: left;
}
.links{
	text-align: center;
	margin-bottom: 15px;
	margin-top: 20px;
}
footer a{
	text-decoration: none;
	color: black;
	font-size: 14px;
	letter-spacing: 1.2px;
}
.links p{
	margin: 20px;
}
/*
@media screen and (min-width: 100px) {
    .cell{
    	width: 27%;
    }
   }