@font-face{
	font-family: 'MyriadPro-It', 'MyriadPro Regular';
	src: url(../fonts/MyriadPro-It.otf);
	src: url(../fonts/MyriadPro Regular.otf);
	font-size: normal;
	font-style: normal;
}
*{
	margin: 0px;
	padding: 0px;
	border: 0px;
	outline: 0px;
}
.wrapper, textarea, input, select {
	margin-bottom: 0px;
	background-color: #FFFFFF;
	font-family: Tahoma, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	line-height: 14px;
}
.wrapper{
	width: 80%;
	border: 1px solid #BEBEBE;
	overflow: hidden;
}
header{
	width: 99%;
	text-align: center;
	font-family: tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF;
}
header div{
	float: left;
	margin: 0px;
	padding: 0px;
	height: 76px;
}
header p{
	margin-top: 15px;
}
.gradient{
	background: #b70404;
	background: linear-gradient(to top left, #9e0000, #600001);
	width: 70%;
}
.line{
	border-right: 1px dashed #bfbcbc;
	opacity: 0.5;
	width: 1px;
	height: 50px;
	margin-left: -1px;
}
.store{
	width: 30%;
	background-color: #535353;
	font-family: 'MyriadPro-It';
	font-size: 28px;
}
.b_cart{
	width: 35%;
}
.b_cart img{
	float: left;
	margin-top: 6px;
}
.b_lang{
	width: 35%;
}
.b_lang li{
	display: inline;
	margin: 3px;
}
header h5{
	width: 25%;
	display: block;
	margin: 15px 0px 5px 100%;
}
select{
	width: 120%;
	margin-left: 90%;
}
.wrap:after{
  content: " ";
  margin-bottom: 128px;
  display: block;
  clear: both;
}
nav{
	width: 30%;
	border: 1px solid grey;
	align-items: left;
	text-align: left;
	border: 0px;
	float: left;
	font-family: 'MyriadPro-It';
	font-size: 17px;
}
nav li:hover, aside li:hover{
 	background-color: #e1e0e0;
}
nav a{
	text-decoration: none;
	width: 88%;
	margin: 10px;
	color: #535353;
	padding: 10px;
}
nav ul {
    list-style-type: none;
    margin-left: 5px;
    padding: 0px;
    list-style-image: url('bullet.jpg');
    list-style-position: inside;
}
nav li{
	margin: 0px;
	padding: 11px; 
	border-bottom: 1px solid #dddddd;
}

.webcamera{
	margin-bottom: -20px;
	padding: 0;
	float: left;
	position: relative;
	top: -25px;
	width: 19%;
	left: -30px;
	z-index: 10;	
}
.webcameramin{
	float: left;
	position: relative;
	width: 12%;
	top: 40px;
	left: -80px;
	z-index: 9;	
}
.cheap{
	margin-top: 40px;
	float: left;
	font-family: 'MyriadPro-It';
	font-size: 36px;
	color: #9e0000;
	letter-spacing: 2px;
}
.cheap img{
	width: 100%;
}
.cheap span{
	color: #8b8b8b;
}
.Special{
	font-family: 'MyriadPro Regular';
	font-size: 18px;
	margin-left: -110px;
	padding-left: 30px;
	color: #2d2d2d;
	background-color: #efefef;
	float: left;
	width: 30%;
	min-width: 270px;
	height: 44px;
	text-align: left;
	line-height: 20px;
}
.Special span{
	color: #9e0000;
}
.arrow{
	float: left;
	position: relative;
	left: -27px;
	top: -2px;
}
.black{
	font-family: 'MyriadPro-It';
	font-size: 14px;
	margin: 0 0 12px 60px;
	color: black;
}
.wrap{
	width: 99%;
	clear: both;
}
aside{
	width: 24%;
	float: left;
	margin: 0px;
	
	text-align: left;
	font-size: 11px;
	font-family: Tahoma;
	
}
aside h3{
	background-color: #cbcbcb;
	width: 100%;
	height: 25px;
	margin-bottom: 3px;
}
aside a{
	text-decoration: none;
	width: 24%;
	color: black;
}
aside li:hover{
	color: #8a0000;
}
aside ul{
	display: block;
    list-style-type: none;
    list-style-image: url('../images/arrow.png');
    list-style-position: inside;
}
aside li{
	
	border-bottom: 1px dotted #dedcdc;
	padding: 6px;
}
main{
	width: 75%;
	background-color: #1f1f1f;
	float: right;
}
.name{
	color: white;
	text-align: left;
	margin: 5px 25px;
	font-size: 14px;
}
.flex-container{
	display: flex;	
	flex-wrap: wrap;
	justify-content: center;
	line-height: 22px;
}
.cell{
	width: 44%;
	height: 150px;
	background-color: white;
	border: 4px ridge #cecece;
	margin: 15px;
	justify-content: flex-start;
	text-align: left;
}
.cell div{
	border-bottom: 1px dashed #dedcdc;
	width: 100%;
	height: 80%;
	margin-bottom: 10px;
}
.goods{
	width: 40%;
	height: 90%;
	float: left;
	margin: 3px 20px 15px 3px;
}
.cell h3{
	width: 80%;
}
.cell p{
	color: red;
	font-size: 15px;
	font-weight: bold;
	padding: 21px;
	width: 60%;
}
.cell a{
	margin: 0px 0px 0px 10px;
}
.big{
	margin-left: -10px;
	width: 100%;
	height: 100%;
}
footer{
	width: 79%;
	height: 100px;
	position: absolute;
	top: 900px;
	background: #d9d8d8; 
    background: linear-gradient(to top, #bebebe, #fff);
    text-align: left;
}
footer img{
	display: inline-block;
	margin-top: 35px;
	margin-left: 35px;
}
footer div:first-of-type {
	border-right: 1px dashed white;
	width: 30%;
	height: 100px;
	float: left;
}
.links{
	text-align: center;
	margin-bottom: 15px;
	margin-top: 20px;
}
footer a{
	text-decoration: none;
	color: black;
	font-size: 14px;
	letter-spacing: 1.2px;
}
.links p{
	margin: 20px;
}

@media screen and (max-width: 1200px) {
 .cell{
    	width: 44%;
    	padding: 7px;
    	height: 130px;
    	margin: 5px;
}
 .cell div{
	margin-bottom: 3px;
}
.cell p{
	font-size: 12px;
	padding: 25px;
	width: 60%;
}
.goods{
	float: left;
	height: 80%;
}
.cell h3{
	width: 100%;
}
.aside img{
	width: 100%;
}
nav li{
	padding: 7px;
}
footer{
	top: 860px;
}
footer img{
	display: inline-block;
	margin-top: 35px;
	margin-left: 15px;
}
.cheap{
	margin-top: 15px;
	margin-left: -45px;
	width: 35%;
	font-size: 32px;
	letter-spacing: 1px;
}  
.black{
	margin-left: -60px;
}
.special{
	font-size: 15px;
	min-width: 200px;
}
} 

@media screen and (max-width: 920px) {
	.cell{
    width: 38%;
}
header h5{
	width: 25%;
	display: block;
	margin: 15px 0px 5px 40%;
}
select{
	width: 120%;
	margin-left: 30%;
}
nav{
	font-size: 14px;
	}
nav a{
	margin: 0;
	padding: 0;
}
nav li{
	margin: 0;
	padding: 5px;
}
.cheap{
	margin-top: 10px;
	font-size: 28px;
	letter-spacing: 1px;
	width: 40%;
	float: right;
}
.cheap img{
	width: 100%;
	margin-top: 20px;
	margin-left: -2px;
	height: 11%;
}
.webcamera{
	width: 20%;
}
.special{
	font-size: 14px;
	min-width: 180px;
}
nav a{
	width: 60%;
	margin-left: 3px;
	float: left;
}
.nav img{
	float: left;
	margin: 6px 6px 0px 3px;
}
nav .webcam{
	float: right;
	margin: 0px;
}
aside h3{
	font-size: 11px;
}
aside li{
	padding: 4px;
}
aside img{
	width: 102%;
}
footer{
	top: 750px;
}
footer img{
	display: inline-block;
	margin-top: 35px;
	margin-left: 4%;
}
}

@media screen and (max-width: 886px) {
.cheap img{
	width: 100%;
	margin-top: 7px;
	height: 11%;
}
.special{
	font-size: 11.5px;
	width: 100px;
}
.goods {
    float: left;
    height: 70%;
}
.cell div:first-child{
	height: 70%;
}
.cell h3{
	font-size: 11px;
}
.cell p{
	padding: 5px;
	margin: -30px 0px 0px 0px;
	float: right;
}
.cell a{
	margin: 0px;
}
.big{
	margin: 0;
}
	}

	@media screen and (max-width: 838px) {
.cheap img{
	width: 90%;
	margin-right: -25px;
}
footer img{
	margin-left: 1%;
}
.store{
	line-height: 22px;
}
.store p{
	margin-top: 5px;
}
	}

	@media screen and (max-width: 810px) {
.cheap img{
	width: 90%;
	margin-right: -25px;
}
}
	@media screen and (max-width: 746px) {
.special{
	padding-left: 100px;
	}
.webcamera {
    width: 24%;
}
.arrow{
	width: 10%;
}
footer img {
	width: 20%;
	}
footer img:first-child {
	width: 40%;
	}
}

@media screen and (max-width: 700px) {
aside{
	width: 30%;
	}
main{
	width: 68%;
	}
nav{
	width: 100%;
}
nav ul{
	display: flex;
	flex-direction: row;
	margin-left: 2px;
	margin-right: 2px;
	width: 99%;
	list-style-image: none;
	font-size: 14px;
}
nav li{
	height: 30px;
	padding-left: 10px;
	align-items: stretch;
	width: 20%;
	border-left: 1px solid #dddddd;	
}
header{
	font-size: 10px;
}
.webcamera, .webcameramin {
    margin: 0px;
    padding: 0;
    float: left;
    width: 25%;
    position: relative;
    top: -8px;
    left: 15px;
    z-index: 10;
}
.webcameramin {
	width: 12%;
	left: -14px;
	z-index: 9;
	}
.cell{
	width: 80%;
	}
.cell div:first-child{
	height: 80%;
	}
.goods{
	height: 95%;
	}
.cell h3{
	font-size: 14px;
	}
.cell p{
	margin: 0;
	padding: 0;
	position: relative;
	top: -35px;
	left: 20px;
}
div.bottom{
	display: flex;
	flex-wrap: nowrap;
	width: 95%;
	height: 20px;
	justify-content: space-around;
	margin-top: -30px;
	position: relative;
	top: -30px;
}
select{
	margin-left: 10%;
	}
header h5{
	margin-left: 5px;
}
.cheap{
	float: left;
	width: 60%;
	margin-left: -5px;
	font-size: 20px;
	}
.special{
	margin-left: -40px;
	padding-left: 50px;
}
aside{
	width: 35%;
	font-size: 13px;
}
main{
	width: 65%;
}
.bottom{
	width: 100%;
	height: 10px;
}
footer{
	top: 1270px;
}                    }

@media screen and (max-width: 586px) {
.store {
    font-size: 20px;
}
.b_lang li img{
    margin: -1px;
    width: 25%;
}
select{
	margin: 0;
	width: 90%;
}
.webcamera{
width: 27%;
}
footer {
    top: 1260px;
}
footer a {
    font-size: 11px;
    letter-spacing: 1px;
}
.goods {
    height: 65%;
}
aside h3, aside {
	font-size: 10px;
}
.black {
    margin-left: 0px;
    font-size: 12px;
}
.name{
	font-size: 11px;
}
.cell h3, .cell p {
    font-size: 11px;
    line-height: 16px;
}

div.bottom {
	top: -20px;
	flex-wrap: wrap;
	justify-content: left;
}
.b_cart {
    width: 30%;
}
}